<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erast</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/main.css') }}">
</head>
<style>
    h3 {
        color: #AD0000;
        text-align: center;
        font-size: 2 rem;
    }
</style>
<body>
    <h1>Erast</h1>
    <!--Slogan inspired from: https://slogify.com/slogan-for-fake-news/-->
    <h2>Discard Lies, One Click at a Time.</h2>
    <h3>Warning: The information that you are reading seems to be false. Please proceed with caution.</h3>
    

    
</body>
</html>