<!doctype html>  
<html>  
   <body>  
      <p><strong>Thanks for the registration. Confirm your details</strong></p>  
      <table>  
         {% for key, value in result.items() %}  
            <tr>    
               <td> {{ value }} </td>  
            </tr>  
         {% endfor %}  
      </table>  
      <p>You typed: </p>

      <script>
         function getUserInput() {
            var getText = document.getElementById("getText").value;
            document.getElementById("demo").innerHTML = getText;
    
            //const dict_values = {getText} // pass javascript value sto dictionary
            //const s = JSON.stringify(dict_values); //Convert to a Javascript object or value to JSON

            $.ajax({
               type: "POST",
               url: "~/util.py",
               data: { param: text}
            }).done(function( o ) {
            // do something
});
}
      </script>
   </body>  
</html>  